.eventList > ul > li {
  list-style-type: none;
  text-decoration: underline;
  font-weight: 200;
  line-height: 16.9px;
  text-decoration-color: #575a60;
}

.eventList > ul > li span {
  color: #575a60 !important;
}

#attachments {
  width: 320px;
  border-radius: 7px;
  border: 1px solid #d8d6de;
  height: 35px;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #3a5aff;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #3a5aff;

  float: right;
}
.custom-file-upload::after {
  content: "Browse";
  color: white;
}
.shared {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  text-align: center;
}
.buttons-container button:nth-child(1) {
  background-color: blue;
  color: white;
  border: none;
  width: 200px;
  cursor: pointer;
  height: 30px;
}
.buttons-container button:nth-child(2) {
  border: 1px solid blue;
  color: blue;
  width: 200px;
  cursor: pointer;
  height: 30px;
}
.ant-drawer-header {
  background: #fafbfc;
}
.ant-drawer-title {
  font-weight: 900 !important;
}
#title {
  margin-bottom: 10px;
  margin-top: 3px;
}

.event-container {
  height: 100vh;
  background-color: aquamarine;
  z-index: 1;
  position: relative;
  margin-top: -210px;
  max-width: 400px;
}
.outline-desc {
  font-size: 20px;
  font-weight: 600;
}
.drawer {
  overflow-x: auto;
}
#desc-title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #575a60;
}
.description-box {
  border: 1px solid #d8d6de;
  border-radius: 6px;
  padding: 5px;
}
.description-box > ul li {
  font-size: 14px;
  font-weight: bold;
}
#event-title {
  font-weight: 600;
}

#chapter {
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
}
label {
  font-weight: 600;
  font-size: 13px;
  color: #201f27;
}
input[type="text"] {
  border-radius: 7px;
  border: 1px solid #d8d6de;
  // width: 320px;
  padding: 7px;
}
#labelInput,
#dueDate {
  width: 300px;
  border-radius: 7px;
  border: 1px solid #d8d6de;
  padding: 7px;
}
.attachment {
  width: 250px;
  border-radius: 7px;
  border: 1px solid #d8d6de;
  padding: 7px;
}
.fileName {
  font-weight: 600;
}
.fileSize {
  font-size: 12px;
}

.buttons-container{
   margin-top: 120px;
}
.buttons-container button:nth-child(1) {
  background-color: blue;
  color: white;
  border: none;
  width: 220px;
  height: 40px;

background: #3A5AFF;
border-radius: 5px;

}
.buttons-container button:nth-child(2) {
  border: 1px solid #3A5AFF;
  color: #3A5AFF;
  width: 220px;
  height: 40px;
  border-radius: 5px;
  background-color: white;

}

.text {
  font-weight: 400 !important;
}
.avatars {
  margin-right: 3px;
  margin-bottom: 10px;
}
.textArea {
  font-size: 12px;
  font-weight: 400 !important;
  color: #575a60;
}
.badge-row {
  margin-right: 30px;
  font-size: 24px;
}
.ant-badge-dot {
  width: 10px;
  height: 10px;
  color: #ff9f43;
  box-shadow: 0 0 0 2px #fff !important;
}
.eventList ul {
 
  padding: 5px 0px !important;


}
.eventList .ant-checkbox-wrapper {
  font-weight: 400 !important;
}
.profileDetails {
  h4 {
    margin-bottom: 0px !important;
  }
  margin-top: 10px;
  p {
    color: #a2a4a8;
  }
}

.Profile {
  margin-top: 10px;
  margin-right: -10px !important;
}
.Menu input{
border: none !important;
}